.ui-widget {
    font-size: 80%;
}
.jobNumberClass {
    width: 100%;
    color: orange;
}
.editableclass {
    background-color: lightgoldenrodyellow !important;
}
.hold {
    color: red;
    font-size: 1.2em;
    background-image: none;
    font-weight: bolder;
}
.active {
    color: green;
    font-size: 1.2em;
    background-image: none;
    font-weight: bolder;
}
.due {
    background-color: yellow;
    background-image: none;
    color: #000000;
}
.overdue {
    background-color: yellow;
    background-image: none;
    color: #000000;
}
.lightgreybg {
    background-color:lightgrey;
    background-image: none;
    color: #000000;
}
.lightsteelbg {
    background-color:lightsteelblue;
    background-image: none;
    color: #000000;
}
.orangeredbg {
    background-color:orangered;
    background-image: none;
    color: #000000;
}
.lightyellowbg {
    background-color:lightyellow;
    background-image: none;
    color: #000000;
}
.lightgreenbg {
    background-color:lightgreen;
    background-image: none;
    color: #000000;
}
.yellowbg {
    background-color:yellow;
    background-image: none;
    color: #000000;
}
.header {
    background-color: gray;
    background-image: none;
    color: white;
}
.rdonly {
    background-color: lightgrey;
    background-image: none;
    color: blue;
}
.default {
    background-color: white;
    background-image: none;
    color: black;
}
.job-number {
    font-weight: bold;
    font-size: 14px;
    padding: 3px;
    width: 100%;
    box-shadow: 5px;
}
.pr-number {
    font-weight: bold;
    font-size: 14px;
    padding: 3px;
    width: 100%;
    box-shadow: 5px;
}
.read-only-inputfield .ui-inputfield {
    background-color: lightyellow !important;
}
.read-only-right-inputfield .ui-inputfield {
    background-color: lightyellow !important;
    text-align: right;
}
.right-inputfield .ui-inputfield {
    text-align: right;
}

.output-text-header {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: gray;
    width: 100%;
}

.number-field {
    text-align: right;
}

.datatable-number-field {
    float: right;
}

.read-only-number-field {
    text-align: right;
    background-color: lightyellow !important;
    color: blue;
}

.read-only-text-field {
    background-color: lightyellow !important;
    color: blue;
}

.ui-widget .ui-widget .invalid-number-field {
    text-align: right;
    border-color: lightblue;
}

.ui-invalid-inputfield .ui-inputfield {
    border-color: lightblue;
}

.ui-widget .ui-widget .invalid-inputtextarea-field {
    border-color: lightblue;
}

.read-only-calendar input {
    background-color: lightgray;
}

.debug-mode {
    color: lightblue;
    font-size: 10pt;
    font-weight: bold;
}

.non-debug-mode {
    color: darkgrey;
    font-size: 10pt;
    font-weight: bold;
}


