html {
    font-size: 11px;
}

.jobNumberClass {
    width: 100% !important;
    color: orange !important;
}
.editableclass {
    background-color: lightgoldenrodyellow !important;
}
.hold {
    color: red !important;
    font-size: 1.2em !important;
    background-image: none !important;
    font-weight: bolder !important;
}
.active {
    color: green !important;
    font-size: 1.2em !important;
    background-image: none !important;
    font-weight: bolder !important;
}
.due {
    background-color: yellow !important;
    background-image: none !important;
    color: #000000 !important;
}
.overdue {
    background-color: yellow !important;
    background-image: none !important;
    color: #000000 !important;
}
.lightsteelbg {
    background-color:lightsteelblue !important;
    background-image: none !important;
    color: #000000 !important;
}
.header {
    background-color: gray !important;
    background-image: none !important;
    color: white !important;
}
.rdonly {
    background-color: lightgrey !important;
    background-image: none !important;
    color: blue !important;
}
.default {
    background-color: white !important;
    background-image: none !important;
    color: black !important;
}
.job-number {
    font-weight: bold !important;
    font-size: 14px !important;
    padding: 3px !important;
    width: 100% !important;
    box-shadow: 5px !important;
}
.pr-number {
    font-weight: bold !important;
    font-size: 14px !important;
    padding: 3px !important;
    width: 100% !important;
    box-shadow: 5px !important;
}
.read-only-inputfield .ui-inputfield {
    background-color: lightyellow !important;
    color: blue !important;
}
.read-only-right-inputfield .ui-inputfield {
    background-color: lightyellow !important;
    color: blue !important;
    text-align: right;
}
.right-inputfield .ui-inputfield {
    text-align: right !important;
}

.output-text-header {
    display: block !important;
    margin-top: 10px !important;
    font-size: 14px !important;
    font-weight: bold !important;
    color: gray !important;
    width: 100% !important;
}

.number-field {
    text-align: right !important;
}

.datatable-number-field {
    float: right !important;
}

.read-only-number-field {
    text-align: right !important;
    background-color: lightyellow !important;
    color: blue !important;
}

.read-only-text-field {
    background-color: lightyellow !important;
    color: blue !important;
}

.ui-widget .ui-widget .invalid-number-field {
    text-align: right !important;
    border-color: lightblue !important;
}

.ui-invalid-inputfield .ui-inputfield {
    border-color: lightblue !important;
}

.ui-widget .ui-widget .invalid-inputtextarea-field {
    border-color: lightblue !important;
}

.read-only-calendar input {
    background-color: lightgray !important;
    color: blue !important;
}

.debug-mode {
    color: lightblue !important;
    font-size: 10pt !important;
    font-weight: bold !important;
}

.non-debug-mode {
    color: darkgrey !important;
    font-size: 10pt !important;
    font-weight: bold !important;
}
.lightgreybg {
    background-color:lightgrey !important;
    background-image: none !important;
    color: #000000 !important;
}
.lightgreenbg {
    background-color:lightgreen !important;
    background-image: none !important;
    color: #000000 !important;
}
.orangeredbg {
    background-color:orangered !important;
    background-image: none !important;
    color: #000000 !important;
}
.yellowbg {
    background-color:yellow !important;
    background-image: none !important;
    color: #000000 !important;
}

.ui-outputlabel.subheader-text
{
    font-size: 0.650em !important;
}

.logo
{
    width: 3em !important;
    height: 3em !important;
}

.ui-sticky {
    top: 0px !important;
}

@media (max-width: 960px) {
    .ui-sticky {
        top: 0px !important;
    }
}

.ui-outputlabel
{
    font-size: 1.000em !important;
}

.ui-outputlabel.header-text
{
    font-size: 0.800em !important;
}