.ui-selectonemenu-items,
.ui-selectonemenu-label,
.ui-outputlabel,
.ui-inputtext,
.ui-inputtextarea,
.ui-selectoneradio,
.ui-selectoneradio
{
    font-size: 0.850em !important;
}

.ui-outputlabel.header-text
{
    font-size: 0.700em !important;
}

.ui-outputlabel.subheader-text
{
    font-size: 0.600em !important;
}

.ui-button.search-button
{
    width: 1.6em !important;
    height: 1.6em !important;
}

.ui-button
{
    height: 1.6em !important;
}

.ui-button-text {
    padding-top: 0em !important;
}

.logo  
{
    width: 3em !important;
    height: 3em !important;
}

.ui-sticky {
    top: 0px !important;
}

.ui-tabs
{
    font-size: 0.825em !important;
}

.ui-datatable
{
    font-size: 1.25em !important;
}